<!DOCTYPE html>
<!-- Add the thymeleaf name space and alias it as th -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Med MVC</title>
</head>
<body>
<h1>Disease list</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Patient 1</th>
        <th>Patient 2</th>
    </tr>
    <!-- thymeleaf iterator will render this element for each book -->
    <tr th:each="disease : ${diseases}">
        <td th:text="${disease.id}">123123</td>
        <td th:text="|&emsp;${disease.type}|">DiseaseType</td>
        <td>
            <span th:if="${#sets.size(disease.patients) &gt; 0}">
                <span th:text="|&emsp;${disease.patients[0].firstName} ${disease.patients[0].lastName}|"></span>
            </span>
            <span th:unless="${#sets.size(disease.patients) &gt; 0}">&emsp;</span>
        </td>
        <td>
            <span th:if="${#sets.size(disease.patients) &gt; 1}">
                <span th:text="|&emsp;${disease.patients[1].firstName} ${disease.patients[1].lastName}|"></span>
            </span>
            <span th:unless="${#sets.size(disease.patients) &gt; 1}">&emsp;</span>
        </td>
    </tr>
</table>

</body>
</html>